version: "3"

services:

  web:
    build: .
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    command: >
      bash -c "python manage.py migrate
      && python -u manage.py runserver 0.0.0.0:8000"
    container_name: "web"
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always

  db:
    image: "postgres"
    container_name: pgdb
    env_file:
      - .env
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    logging:
      driver: 'none'
    ports:
      - "1025:1025"
      - "8025:8025"


volumes:
  pgdata:
